.ui-title {
    text-align : left !important;
    margin-left: 40px !important;
}

#lblWatch li {
    text-align: center;
}
#watch li {
    text-align: center;
}

#laptimeList li {
    text-align: center;
}
#datetimeList li {
    text-align: center;
}

#logList li {
    white-space:normal;
}

#map-content {
    padding: 0px;
}
#map-iframe {
    border-width: 0px;
    margin: 0px;
    background: #555;
    width: 100%;
}
